services:

frontend:
    image: berracan/frontend:latest
    container_name: frontend
    ports:
      - "8906:80"
    environment:
      VITE_BASEURL: http://backend:8907

backend:
    image: berracan/backend:latest
    container_name: backend
    ports:
      - "8907:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/postgres
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    depends_on:
      - db
portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: always
    ports:
      - "9443:9443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/var/data

db:
    image: postgres:15-alpine
    container_name: db
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
volumes:
  pgdata: