version: '3.7'

services:
  frontend:
    restart: unless-stopped
    image: fe
    container_name: frontend
    depends_on:
      - backend
    ports:
      - 3000:80
  backend:
    restart: unless-stopped
    image: be
    container_name: backend
    ports:
      - 8080:8080
    environment:
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      DATABASE_USER: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_NAME: postgres
    depends_on:
      - db
  db:
    restart: unless-stopped
    image: 'postgres:10-alpine'
    container_name: db
    ports:
      - '5432:5432'
    environment:
      POSTGRES_PASSWORD: 'postgres'
      POSTGRES_USER: 'postgres'
      POSTGRES_DB: 'postgres'
